---
interface Props {
  reason: {
    title: string;
    describe: string;
    img?: string;
  };
}

const { reason } = Astro.props;
---

<div class="relative pl-9">
  <div class="flex items-center font-semibold text-slate-900 dark:text-white">
    <div class="absolute left-1 top-0 text-lg text-sky-500 dark:text-sky-400">
      <img src={reason.img} alt={reason.title} class="w-4 visible pt-1.5" />
    </div>
    <div>{reason.title}</div>
  </div>
  <dd class="inline">
    <div>{reason.describe}</div>
  </dd>
</div>
<style></style>
